<!doctype html>
<html>
  <head>
    <link href="main.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700italic' rel='stylesheet' type='text/css'>
    <script src = "weatherController.js"></script>
    <script src = "node_modules/angular/angular.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>


  <header class="header">
    <p class="title">The Weather App</p>
  </header>

  <body class = "main" ng-app = "weatherApp" ng-controller = "weatherController">


    <!-- search field -->

      <input type="text" ng-model="zipcode" placeholder="city (country)" />
    <button id="alt" class="fa fa-search pointer" aria-hidden="true" ng-click="weatherSearch()"></button>



  <!--   Local weather information -->
  <!--   <span class="article-font">{{ weather.main | uppercase }}<img align = "top" ng-src = "{{ icon }}"/></span>
     <span class="data tooltip" ng-init = "tempVal = true" ng-show = "tempVal" ng-click = "tempVal = !tempVal">{{ fTemp }}&deg;F<span class="tooltiptext">click me to change</span></span>
      <span class="data tooltip"  ng-show = "!tempVal" ng-click = "tempVal = !tempVal">{{ cTemp }}&deg;C<span class="tooltiptext">click me to change</span></span>
     <span id="unit">{{ name }}</span><span id="alt">{{ country }}</span> -->

    <div class="article-font">
      <p>{{localCity}}|{{country}}</p>
      <p><span class="data " ng-init = "tempVal = true" ng-show = "tempVal" ng-click = "tempVal = !tempVal">{{ fTemp }}&deg;F</span>
      <span class="data "  ng-show = "!tempVal" ng-click = "tempVal = !tempVal">{{ cTemp }}&deg;C
  <!--       <span class="tooltiptext">click me to change</span> -->
        </span>, {{weather.main | uppercase}}
      </p>
    </div>
    <img  id = "#icon" align = "top" ng-src = "{{ icon }}"/>

<div id="map"></div>

    <footer class="footer">
    <a class="footer-font" href="http://www.diaoweidong.com">by Weidong Diao</a>
  </footer>

  <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          // center: {lat: -34.397, lng: 150.644},
          zoom: 10
        });
        var marker = new google.maps.Marker({
          // position: {lat: -34.397, lng: 150.644},
          map: map,
          draggable: true,
          animation: google.maps.Animation.DROP
        });
        marker.addListener('click', toggleBounce);
        function toggleBounce() {
        if (marker.getAnimation() !== null) {
          marker.setAnimation(null);
        } else {
          marker.setAnimation(google.maps.Animation.BOUNCE);
        }
      }
        //var infoWindow = new google.maps.InfoWindow({map: map});


        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            marker.setPosition(pos);
            //infoWindow.setPosition(pos);
            //infoWindow.setContent('Location found.');
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        marker.setPosition(pos);

        marker.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA63EYNQlI_VqyowN6UFEO4FAu_QBkm5R4&callback=initMap&region=en&language=EN">
    </script>

    </body>

</html>
