body {
  padding: 2em 25%;
  background-color: #fcf9eb;
  position: relative;
  left: 0;
  position: relative;
  text-align: center;
  color: #5F7473;
  input: focus;
  outline: none; }

header {
  position: relative;
  text-align: center;
  color: #49002E;
  margin-bottom: 60px; }

.title {
  font-size: 50px; }

input {
  background-color: #fcf9eb;
  border: none;
  border-bottom: solid 1px #5F7473;
  padding-bottom: 5px;
  margin-bottom: 20px;
  transition: border 0.3s;
  text-align: center;
  font-size: 15px; }

.pointer {
  cursor: pointer; }

#icon {
  font-size: 100px;
  margin-top: 20px;
  margin-bottom: 30px; }

.article-font {
  font-size: 21px;
  font-family: "Droid Serif", serif; }

#unit {
  color: #7D9C01; }

#alt {
  color: #5F7473; }

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* If you want dots under the hoverable text */ }

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1; }

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible; }

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent; }

  #map {
        height: 400px;
        width: 100%;
        border: 3px solid $second-color;
       }


footer {
  position: relative;
  margin-top: 50px;
  margin-right: 5%;
  text-align: right; }

.footer-font {
  color: #7D9C01;
  font-family: "Droid Serif", serif; }

.footer-font:hover {
  color: #5b6729;
  text-decoration: none; }

@media screen and (max-width: 900px) {
  body {
    padding: 5em 0em; }

  header .title {
    font-size: 35px; }

  footer {
    margin-right: 20%; } }
